
@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td{ margin:0px; padding:0px;}
body{color:#666666;}
table,table td,table th{ /*border-collapse:collapse;*/ border-spacing:0;}
fieldset,img{ border:0px;}
ol,ul{ list-style:none;}
u{text-decoration:none;}
a{ text-decoration:none; blr:expression(this.onFocus=this.blur()); outline:none;-moz-outline-style:none; cursor:pointer;}
a,area{blr:expression(this.onFocus=this.blur())}
a:focus{-moz-outline-style:none;} 
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}/*1. 它改变了默认的大小。2. 这些元素本身不会继承父体的字体大小，设置了font-size:100%后就能自动继承。*/
.w60{ width: 60px;}
.w73{ width: 73px;}
.w275{ width: 275px;}
.w260{ width: 260px;}
.w360{ width: 360px;}
.w87{ width: 87px;}
.w177{ width: 177px;}
.w{width: 100%;}
.db{ display: block;}
.u{font-style:italic}
/*文字排版*/
.f10{ font-size:10px;}
.f11{ font-size:11px;}
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f26{ font-size:26px;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.t2{ text-indent:2em;}
.lh150{ line-height:150%;}
.lh180{ line-height:180%;}
.lh200{ line-height:200%;}
.lh28{line-height:28px;}
.lh24{line-height:24px;}
.lh22{line-height:22px;}
.lh18{line-height:18px;}
.lh16{line-height:16px!important;}
dt.lh22{line-height:22px!important;}

.unl{ text-decoration:underline;}
.no_unl{ text-decoration:none;}
/*文字颜色*/
.blue_1{color:#49a4d1;}
.blue_2{color:#3d66a4;}
.blue_3{color:#00e5c5;}
.blue_4{color:#00a7f5;}  
.blue_5{color:#ababab;}
.blue_6{color:#1d96d3}
.blue_7{color:#08d8d6;}
.blue_8{color:#333333;}
.blue_9{color:#3094d1;}
.blue_4a{color:#4aacdd;}
.blue_10{color:#ffffff;}
.blue_11{color:#4b5970;}
.blue_42{color:#42809a;}
.blue_43{color:#43b0e3;}
.blue_3094d1{color:#3094d1;} 
.blue_12{ color:#fc9f61}
.blue_13{ color:#579a38}
.blue_46{color:#46b1e3!important;}
.blue_14{ color:#46B1E3}
.blue_15{ color:#5DB724;}
.blue_16{ color:#5DB724;}
.blue_c3{color:#009fc3;}
.blue_c4{color:#a633c1;}
.blue_24{color:#aeaeae;}
.blue_25{color:#F00;}
.blue_26{ color:#ff0000;}
.blue_240{color:#7c5610;}
.juse_f74f33{ color:#f74f33;}
.yellow{color:#f5df18;}
.ui-jqgrid tr.ui-row-ltr td a.blue_1e{color:#1e96d3}
/*.blue_8e3{color:#cdd8e3;}
.blue_6cc{color:#0066cc;}
.blue_1dc{color:#0161dc;}
.blue_8c0{color:#6498c0;}*/
/*文字加粗*/
.fl_su{ font-weight:bold;}
.gray_f64{color:#555f64;}
.gray_be{color:#bebebe;}
.gray_89{color:#898989;}
.gray_86{color:#868686;}
.gray_78{color:#787878;}
.gray_a0{color:#a0a0a0;}
.gray_333{color:#333333;}
.gray_666{color:#666666;}
.gray_4b{color:#4b4b4b;}
.green{ color:#14ac29;}
.green1{color:#8eb246;}
.green02{color:#224c0c}
h6.green_th{color:#5db724;}
.gray_646464{color:#646464;}
.gray_868686{ color:#868686;}
.cor0062dc{ color:#0062dc;}
.cor39{ color: #399ed6;}
.coreba532{ color:#eba532;}
.red{color:#fe0000;}
.white{color:#fff;}
.red_e6{color:#e61946;}
.red_fb{color:#fb9b9b}
.red_e2{color:#e2302e;}
.red_7c{color:#7c5510;}
.graya1{color:#a4a1a1;}
.black{color:#000;}
.black2{color:#2a2a2a;}
.orange1{color:#ff6b00}
.orange_fc{color:#fc9f61;}
.orange_f8{color:#f8cf41;}
.orange_f7{color:#ff7809;}
.green1{color:#5db724;}
.green2{color:#054B87;}
.green3{color:#0079B8;}
.green_9d{color:#9dc15f}
.red1{color:#e60f16;}
.yellow_01{color:#9F7A05;}
.yellow_02{color:#FF7B04;}
h6.orange_th{color:#f7cf43;}
h6.red_th{color:#f78223;}
h6.blue_th{color:#23b0f7;}
.blue_0f{color:#2b27ff}
/*背景颜色*/
.bg_EEE{background:#EEEFF0;}
.bE2E5E6{background:#E2E5E6;}
.bfff{background:#fff;}
.fcf7e6{ background:#fcf7e6}
.bB7CCE3{background:#B7CCE3;}
.e3f1fe{background:#e3f1fe}
.bg_fff{ background:#ffffff;}
.bg_hui_f2{background-color:#f8f8f8}
.bg_hui_jd{background-color:#CCC; padding:4px 2px;}
.bg_f1{background:#f1f1f1;}
.bg_fb{background:#fbfbfb;}
.bg_f8{ background:#f8f8f8;}
.bg_f2{background:#f2f2f2;}
.bg_blue_d9{background:#d9e8fb}
.bg_orange1{background:#fc9f61;}
.bord_ra3{border-radius:3px;}
.bg_blue_d10{background:#fcf7e6}
.bg_blue_e1{background:#e1eff5;}
.bg_ccc{background:#cccccc;}
/*.left_bar li ul li.bg_blue_e8{background:#e8f8ff;}*/
.bg_f5{background:#f5f5f5;}
.bg_fb{background:#fbfbfb;}

/*边框颜色*/
.xu_bord {border-bottom: 1px dotted #CCCCCC;}
.bord_d8{ border:#f5e9bf 1px solid;}
.bord_d88{ border:1px solid #a9d3fd;}
.bord_d8su{ border:#D6D6D6 2px solid;}
.bord_d5s6{ border:1px solid #d5d6d8;}
.bord_d5su{ border-right:#D6D6D6 2px solid;}
.bord_d9{ border:#8a8a8a 3px solid;}
.bord_d7{border:solid 1px #d7d7d7 ;}
.bord_d6{border:solid 1px #b7b7b7;}
.bor_none{ border:none!important;}
.borL{ border-left:1px solid #d6d6d6 !important;}
.borLb7{ border-left: 1px solid #b7b7b7;}
.borL_gray{ border-left:1px solid #eee!important;}
.borR{ border-right:1px solid #d6d6d6!important;}
.borRb7{ border-right: 1px solid #b7b7b7;}
.borTpb7{ border-top: 1px solid #b7b7b7;}
.borBmb7{ border-bottom: 1px solid #b7b7b7;}
.borGray{ border:1px solid #c8c8c8;}
.bordom{ border-bottom:1px solid #cacaca}
.bord_bm_blue{ border-bottom:1px solid #006db0}
.brt_eee{border-top:solid 1px #eee;}
.bor_ccc{border:solid 1px #ccc;}
.bor_8e8e8e{border:solid 5px #8e8e8e;}
.bor_bm1{border-bottom:solid 1px #e5e5e5;}
.borL_gray2{border-left:solid 1px #e7e7e7;}
.bord_bm_e4{border-bottom:solid 1px #e4e4e4;}
.bord_bm_e7{border-bottom:solid 1px #e7e7e7}
.bord_bm_e8{border-bottom:1px solid #d9d9d9;}
.bord_bm_e9{border-top:1px solid #d9d9d9;}
.bord_bm_e10{border-bottom:1px solid #d7d7d7;}
.bord_bm2_d6{border-bottom:2px solid #d6d6d6;}
.bord_r_b7{border-right:solid 1px #b7b7b7;}
.bord_bm_b7{border-bottom:solid 1px #b7b7b7;}
.bord_r_c4{border-right:solid 1px #c4c4c4;}
.bord_fde8c5{border:solid 1px #fde8c5;}
.bord_none{ border:none;}
/*对齐方式*/
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.vat{ vertical-align:top;}
input.Ivat{ vertical-align:top;}
input.Imt8{ margin-top:8px;}
.jz{margin:0 auto;}
.vt{vertical-align:top;}
/*定位*/
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{ margin-left:auto; margin-right:auto;}
.fl{ display:inline; float:left;}
.fr{ float:right; display:inline; }
.ft_r{float:right;}
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}
.vm{ vertical-align:middle;}
.prv{ position:relative;}
.pa{ position:absolute;}
.zoom{zoom:1;}
.hidden{ visibility:hidden;}
.none{ display:none;}
/*清除浮动*/
.cl{clear:both;overflow:hidden;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clear{zoom:1; clear:both;}
*html.clear{ height:1%}
.of_auto{clear:both;overflow-y:auto;}
.ov{ overflow:hidden;}


/*边距*/
.mt-15{margin-top:-15px;}
.m0{ margin:0!important;}
.mt1{ margin:1px!important;}
.mt2{ margin:2px!important;}
.m5{ margin:5px;}
input.mt-3{ margin-top:-3px;}
._ml5{ *margin-left:5px;}
.ml0{ margin-left:0px;}
.ml6{ margin-left:6px;}
.m10{ margin:10px;}
.ml2{ margin:2px;}
.m15{ margin:15px;}
.m20{ margin:20px;}
.m30{ margin:30px;}
.mt5{ margin-top:5px;}
.mt6{margin-top:6px;}
.mt3{ margin-top:3px;}
.mt2{ margin-top:2px;}
.mt8{ margin-top:8px;}
.mt9{ margin-top:9px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt100{ margin-top:100px;}
.mt149{ margin-top:149px;}
.mb0{ margin-bottom:0px!important;}
.mb3{ margin-bottom:3px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}
.mb100{ margin-bottom:100px;}
.mb200{ margin-bottom:200px;}
.ml3{ margin-left:3px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml13{ margin-left:13px;}
.ml10_cn{margin-left:10px;}  
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml24{ margin-left:24px;}
.ml26{ margin-left:26px;}
.ml30{ margin-left:30px;}
.ml39{ margin-left:39px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}
.ml50{ margin-left:50px;}
.ml60_cn,.ml60{ margin-left:63px;}
.ml_5{margin-left:-5px;}


.ml-70{ margin-left:-70px;}
.ml70{ margin-left:70px;}
.ml85{ margin-left:85px;}
.ml75{ margin-left:75px;}
.ml80{ margin-left:80px;}
.ml90{ margin-left:90px;}
.ml95{ margin-left:95px;}
.ml100{ margin-left:100px;}
.ml110{ margin-left:110px;}
.ml120{ margin-left:120px;}
.ml140{ margin-left:140px;}
.ml150 {  margin-left: 150px;}
.ml160 {  margin-left: 160px;}
.ml200{ margin-left:200px;}
.ml250{ margin-left:250px;}
.ml260{ margin-left:260px;}
.ml350{ margin-left:350px;}
.ml400{ margin-left:400px;}
.ml550{ margin-left:550px;}
.mr5{ margin-right:5px;}
.mr4{ margin-right:4px;}
.mr3{ margin-right:3px;}
.mr2{margin-right:2px;}
.mr7{ margin-right:7px;}
.mr8{ margin-right:8px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr17{ margin-right:17px;}
.mr20{ margin-right:20px;}
.mr26{ margin-right:26px;}
.mr30{ margin-right:30px;}
.mr40{ margin-right:40px;}
.mr50{ margin-right:50px;}
.mr100{ margin-right:100px;}
.mr150{ margin-right:150px;}
.mr180{ margin-right:180px;}
.mr200{ margin-right:200px;}
.mr200{ margin-right:200px;}
.mr-88{ margin-right:-88px;}
.mr-12{ margin-right:-12px;}
.p0{ padding:0px;}
.p1{ padding:1px;}
.pt3{padding-top:3px;}
.p5{ padding:5px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p20{ padding:20px;}
.p30{ padding:30px;}
.p50{ padding:50px;}
.pt0{ padding:0px!important;}
.pt2{ padding-top:2px;}
.pt2a{padding-top:2px!important;}
.pt4{ padding-top:4px;}
.pt5{ padding-top:5px;}
.pt8{ padding-top:8px;}
.pt9{ padding-top:9px;}
.pt10{ padding-top:10px;}
.pt12{ padding-top:12px;}
.pt15{ padding-top:15px;}
.pt17{ padding-top:17px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}

.pt50{ padding-top:50px;}
.pt100{ padding-top:100px;}
.pb3{ padding-bottom:3px;}
.pb5{ padding-bottom:5px;}
.pb8{ padding-bottom:8px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px!important;}
.pb30{ padding-bottom:30px!important;}
.pb50{ padding-bottom:50px;}
.pb60{ padding-bottom:60px;}
.pb100{ padding-bottom:100px;}
.pl2{ padding-left:2px;}
.pl5{ padding-left:5px;}
.pl7{ padding-left:7px;}
.pl2{ padding-left:2px!important;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl25{ padding-left:25px;}
.pl13{ padding-left:13px;}
.pl20{ padding-left:20px;}
.pl40{ padding-left:40px;}
.pl30{ padding-left:30px;}
.pl50{ padding-left:50px;}
.pl60{ padding-left:60px;}
.pl80{ padding-left:80px;}
.pl100{ padding-left:100px;}
.pl200{ padding-left:200px;}
.pl300{ padding-left:300px;}
.ml200{ margin-left:200px;}
.ml190{ margin-left:190px;}
.ml185{ margin-left:185px;}
.ml450{ margin-left:450px;}

.p1530{ padding:15px 30px;}
.p1510{padding:15px 10px;}
.pr3{ padding-right:3px;}
.pr2{ padding-right:2px;}
.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pr30{ padding-right:30px;}
.pr50{ padding-right:50px;}
.pr80{ padding-right:80px;}
.pr100{ padding-right:100px;}
.mt8{margin-top:8px;}
.mt0{margin-top:0!important;}
.mtf{margin-top:-2px!important;}
.pt20pl35{padding:19px 30px;}
/*高度*/
.ht26{height:26px; line-height:26px;}
.ht28{height:28px; line-height:28px;}
.ht35{height:35px; line-height:35px;}
.w_p50{width:50%; *width:49.9%}
em.square{ width:0; overflow:hidden; border-right:solid 5px #bababa; border-left:0; border-top:solid 5px #fff; border-bottom:solid 5px #fff; margin-top:-10px; margin-left:50px;}
.z100{z-index:100;}
.fw100{font-weight:100}
.w_per100{width:100%;}
/*手*/
.shou{cursor:pointer;}
.z1000{z-index:10000;}
.z10{z-index:10;}
.text_home20{text-indent:20px;}
.w1206{ width:1206px;}
.w780{ width:780px;}
.w190{ width:190px;}
.w102{ width: 102px;}
.h260{ height:260px; overflow:auto;}
.h210{ height:210px; overflow:auto;}
.h182{ height:182px; overflow:auto;}
.h180{ height:100px; overflow:auto;}
.h310{ height:310px; overflow:auto;}
.h284{height:284px;}
/*.left_bar li ul.show{ display:block;}*/

