body{ font-family: "微软雅黑";}
.header,.content,.homenav{ width: 1180px; margin: 0px auto; }
/*common end*/
header{ z-index: 10000; background: url("img/headbg.gif") no-repeat center;top: 0px; width: 100%; position: fixed;}
.header{ height: 94px; width: 1180px; margin: 0px auto; clear: both;}
.sublogo{ width: 85px; height: 53px; background: url("img/sublogo.png"); margin:20px;float: left;}
.sublogo span{ display: none;}
nav.topnav{ float: left;}
.topnav a{ margin-top: 25px; display:block; float:left; text-align:center; margin-right:53px;color: #fff; font-size: 14px;}
.topnav a span{ display: block; }
.topnav a span.naven{ font-size: 12px; font-family: Arial;color: #c1c1c1;}
.subnav{ display: block; width: 100%; height: 60px; background: #f6f7f9; box-shadow: 2px 2px 2px #000;}
.contwarp{ width: 100%; padding-top: 164px; }
.content{min-height: 650px; }

.qq{ width:84px; height:34px; background:url("img/qq.png");margin-top: 30px; margin-right: 15%; float: right;}
/*主体*/

/*底部*/
footer{ height: 439px; }
footer .footerin{padding-left: 5%; padding-right: 5%;}
.topshow{ height: 312px; background: #22618c; }
.topshow li a{color: #d6ecfa;}
.topshow li{ height: 27px; background: url("img/number.png") no-repeat; font-size: 14px;}
.topshow.ftitle{ background: none; font-size: 16px;}
.topshow li.tico1{ background-position: 0 0}
.topshow li.tico2{ background-position: 0 0}
.topshow li.tico3{ background-position: 0 0}
.topshow li.tico4{ background-position: 0 0}
.topshow li.tico5{ background-position: 0 0}
.topshow li.tico6{ background-position: 0 0}

.ftextb{ background: #031523;}