nav.topnav,.sublogo,#sooptions{ display: none;}
.homelogo{width: 333px; height: 279px;background: url("img/homelogo.png") no-repeat; margin: 0px auto 60px; display: block;}
.homenav a{ display: block; float: left; width: 177px; height: 177px; margin-left: 10px; text-align:center;color: #fff; background: url("img/homenavbg.png") no-repeat;}
.homenav a:hover{ background-position: -194px 0 ;}
.homenav a i{ display: block; width: 64px; height: 67px; margin: 36px auto 5px; background: url("img/ico-home.gif");}
/*主体*/
.contwarp{ padding-top:104px;background: url("img/homebg.gif") center 0 no-repeat #389fd2;}
.content{min-height: 650px; color: none;}

/*底部*/
footer{ background: #f1f0f0; height: 50px; padding-top: 30px; box-shadow:2px 2px 2px #000;  }
footer p{ line-height: 25px;}
footer p,footer p a{font-size: 12px; color: #636363;}