nav.topnav,.sublogo,#sooptions{display: block;}
#technology{ display: none; }

/*主体*/
.contwarp{background: #efeff3;}
.content{background: none; margin-bottom: 20px;}
.webcont .content{ background: #fff;}
.websubtitle{ height: 52px;padding: 15px 20px;}
.websubtitle h3,.price{ font-size: 24px;  font-weight: 500;}
.websubtitle h3{color: #8c8c8c;}
.price{ code:#70ca10;}
.websubtitle h3 span,.price span{ font-size: 14px; font-weight: normal; line-height: 25px;}
.websubtitle h3 span{display: block;}
.des{ height: 60px; color: #d86b01; }
.websubcont{ padding-left:20px; padding-right: 20px; }
.websubcont img{float: none;display: block; margin: 0 auto;}
.websubcont p{ font-size: 15px; line-height: 20px; margin-top: 5px; margin-bottom: 5px;}
.pages{width: 1180px; margin: 15px auto;}

