---
layout: postlist
permalink: technology/

---

<h1>css文档</h1>
{% for postcss in site.posts %}

<span class="post-meta">{{ postcss.date | date: "%b %-d, %Y" }}</span>

<h2>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ postcss.title }}</a>
</h2>

{% endfor %}

<h1>其他文本</h1>

{% for post in site.posts %}

    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

    <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

{% endfor %}

