<footer>
    <div class="topshow">
        <!--<div class="ftico"></div>-->
        <ul class="ftext">
            <li class="ftitle"><a href="#">css经典文章</a></li>
            <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
            <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
            <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
            <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
            <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
            <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
        </ul>
    </div>
</footer>
