<footer>

        <div class="topshow clear">
            <!--<div class="ftico"></div>-->
            <ul class="ftext fl">
                <li class="ftitle"><a href="#">css经典文章</a></li>
                <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
            </ul>
            <ul class="ftext fl ml30">
                <li class="ftitle"><a href="#">less经典文章</a></li>
                <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
            </ul>
            <ul class="ftext fl ml30">
                <li class="ftitle"><a href="#">jquery经典文章</a></li>
                <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
            </ul>
            <div class="email fl ml30">
                <a class="ftitle">联系我</a>
                <p class="mt10">Email:<a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <p>QQ:<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=380979897&amp;site=qq&amp;menu=yes">380979897</a></p>
            </div>
        </div>
        <div class="ftextb">
            <div>
                <p>
                    网站地图 | 帮助中心 | 版权说明 | 免责须知
                </p>
                <p>
                    Copyright © 2007-2014 All Rights Reserved 版权所有:duowen
                </p>
            </div>


        </div>

</footer>
