<footer>

        <div class="topshow clear">
            <!--<div class="ftico"></div>-->
            <ul class="ftext fl">
                <li class="ftitle"><a href="#">css经典文章</a></li>
                <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
            </ul>
            <ul class="ftext fl ml30">
                <li class="ftitle"><a href="#">css经典文章</a></li>
                <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
            </ul>
            <ul class="ftext fl ml30">
                <li class="ftitle"><a href="#">css经典文章</a></li>
                <li class="tico1"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico2"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico3"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico4"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico5"><a href="#">的发的发生的方式发是否实得分</a></li>
                <li class="tico6"><a href="#">的发的发生的方式发是否实得分</a></li>
            </ul>
            <div class="email fl ml30">
                <div class="ftitle">联系我</div>
                <p>Email:<a href="#">duowen@163.com</a></p>
                <p>QQ:<a href="#">809287663</a></p>
            </div>
        </div>
        <div class="ftextb"></div>

</footer>
