<header>
    <div class="clear header">
        <h1 class="sublogo"><a href="#"><span>多闻</span></a></h1>
        <nav class="topnav">
            <a href="{{ site.baseurl }}"><span>多闻首页</span><span class="naven">Home</span></a>
            <a href="/web/"><span>网页</span><span class="naven">Webpage</span></a>
            <a href="/technology/"><span>前端技术</span><span class="naven">Technology</span></a>
            <a href="#"><span>关于</span><span class="naven">About</span></a>
            <a href="#"><span>网络收藏</span><span class="naven">Collection</span></a>
            <a href="#"><span>资源下载</span><span class="naven">Download</span></a>
        </nav>
        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=380979897&amp;site=qq&amp;menu=yes" target="_blank" class="qq"></a>
    </div>
    <div id="sooptions" style="top: 90px; position: fixed;">
        <!--subnav start-->
        <div class="automw">
            <div id="socontent" class="autocw">
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/company/" class="soitemlabeltxt">企业集团</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/Banner/" class="soitemlabeltxt">专题/Banner</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/company/" class="soitemlabeltxt">门户电商</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/company/" class="soitemlabeltxt">汽车/车类</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/company/" class="soitemlabeltxt">服装服饰</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/company/" class="soitemlabeltxt">餐饮美食</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/company/" class="soitemlabeltxt">其他网页</a></div>
                </div>
            </div>
            <!--subnav end-->
        </div>
    </div>
    <div id="technology" style="top: 90px; position: fixed;">
        <!--subnav start-->
        <div class="automw">
            <div id="socontent" class="autocw">
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/technology/css/" class="soitemlabeltxt">css</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/technology/js/" class="soitemlabeltxt">js</a></div>
                </div>
                <div class="sotj soitem soone" data-name="fid">
                    <div class="soitemlabel"><a href="{{ site.url }}/web/technology/jquery/" class="soitemlabeltxt">jquery</a></div>
                </div>

            </div>
            <!--subnav end-->
        </div>
    </div>
</header>
