<div class="rightbar fr">
    <div class="ad264">
        <a href="#">
            <img src="{{ base.url }}/asset/images/ad1.gif" alt=""/>
        </a>
    </div>
    <ul class="lefttextli">
        <li class="leftli-title">精彩知识在多闻</li>
        <li class="leftli-title">css相关</li>
        {% for post in site.tags.postcss %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
        <li class="leftli-title">js相关</li>
        {% for post in site.tags.postjs %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
        <li class="leftli-title">jquery相关</li>
        {% for post in site.tags.postjquery %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="links">
        <p>友情链接</p>
        <ul class="clear">
            <li><a href="http://www.peigong.net/" target="_blank">培公博客</a> </li>
            <li><a href="http://www.521php.com" target="_blank">php技术分享</a></li>
            <li><a href="http://hao.uisdc.com/" target="_blank">设计师网址导航</a></li>
            <li><a href="http://ued.taobao.com" target="_blank">淘宝ued</a></li>
        </ul>
    </div>
</div>