<div class="rightbar fr">
    <div class="ad264">
        <a href="#">
            <img src="{{ base.url }}/asset/images/ad1.gif" alt=""/>
        </a>
    </div>
    <ul class="lefttextli">
        <li class="leftli-title">精彩知识在多闻</li>
        {% for post in site.posts %}
        <li><a href="#">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="links">
        <p>友情链接</p>
        <ul class="clear">
            <li><a href="#">培公博客</a> </li>
            <li><a href="#">突唯阿</a></li>
            <li><a href="#">中国站长之家</a></li>

            <li><a href="#">方酷</a></li>
            <li><a href="#">JS代码</a></li>
            <li><a href="#">网图趣网</a></li>

            <li><a href="#">红动中国</a></li>
            <li><a href="#">图翼网</a></li>
            <li><a href="#">酷站志</a></li>
            <li><a href="#">V设计</a></li>

            <li><a href="#">123设计</a></li>
            <li><a href="#">网森动网</a></li>
            <li><a href="#">折页网设计</a></li>
            <li><a href="#"><img src="{{ base.url }}/asset/images/link1.png" alt=""/></a></li>
            <li><a href="#"><img src="{{ base.url }}/asset/images/link2.png" alt=""/></a></li>
            <li><a href="#"><img src="{{ base.url }}/asset/images/link3.png" alt=""/></a></li>
            <li><a href="#"><img src="{{ base.url }}/asset/images/link4.png" alt=""/></a></li>
            <li><a href="#"><img src="{{ base.url }}/asset/images/link5.png" alt=""/></a></li>
        </ul>
    </div>
</div>