---
layout: default
title: About
permalink: /about/
---
<link rel="stylesheet" href="{{ "/css/about/style.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/about/demo.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/about/custom.css" | prepend: site.baseurl }}">
<noscript>
    <link rel="stylesheet" href="{{ "/css/about/styleNoJS.css" | prepend: site.baseurl }}">
</noscript>
<script type="text/javascript" src="{{ "/js/modernizr.custom.79639.js" | prepend: site.baseurl }}">
</script>


<div class="contwarp pb15">
    <div class="content clear">
        <div class="dwenmain fl">
            <div class="texttitle">
                <div class="titletop clear">
                    <h2>文章列表</h2>
                    <div class="search">
                        <input type="text" value="" placeholder="搜索文章"/>
                        <button></button>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="titlebottom clear">
                    <h3 class="fl">Last.<span>Top Rated.Most Popular</span></h3>
                    <div class="pages1 fr">
                        <a class="pageprev" href="http://www.duowen.org.cn/?page=1">
                            <span class="yy-icon yy-pp"></span>
                        </a>
                        <a href="http://www.duowen.org.cn/?page=1">1</a>
                        <a class="pageactive" href="http://www.duowen.org.cn/?page=2">2</a>
                        <a href="http://www.duowen.org.cn/?page=3">3</a>
                        <span>...</span>
                        <a href="http://www.duowen.org.cn/?page=136">136</a>
                        <a class="pagenext" href="http://www.duowen.org.cn/?page=3">
                            <span class="yy-icon yy-pp yy-rotate"></span>
                        </a>
                    </div>
                </div>
            </div>

            <ul class="textlist">
                {% for post in site.posts %}
                <li>
                    <div class="textcont clear">
                        <img  width="80" height="80" src="{{ base.url }}/asset/images/textico.gif" />
                        <p>
                            <a class="titletext" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <span>
                    {{ post.categories }}
                </span>
                        </p>
                    </div>
                    <div class="textdes clear">
                        <p class="fl">
                            <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <span>阅读：(5465465)</span>
                        </p>
                        <p class="fr">
                            <a href="#">转载</a>|
                            <a href="#">评论</a>|
                            <a href="#">收藏</a>
                        </p>

                    </div>
                </li>
                {% endfor %}

            </ul>
            <div class="pages ml30  mt10 mb10">
                <a class="pageprev" href="http://www.duowen.org.cn/?page=1"><span class="yy-icon yy-pp"></span></a>
                <a href="http://www.duowen.org.cn/?page=1">1</a>
                <a class="pageactive" href="http://www.duowen.org.cn/?page=2">2</a>
                <a href="http://www.duowen.org.cn/?page=3">3</a>
                <a href="http://www.duowen.org.cn/?page=4">4</a>
                <a href="http://www.duowen.org.cn/?page=5">5</a>
                <span>...</span>
                <a href="http://www.duowen.org.cn/?page=136">136</a>
                <a class="pagenext" href="http://www.duowen.org.cn/?page=3">
                    <span class="yy-icon yy-pp yy-rotate"></span>
                </a>
            </div>
            <!--<a href="#" class="top"></a>-->
        </div>
        {% include right.html %}
    </div>
    {% include more.html %}
</div>

<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.ba-cond.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.slitslider.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    $(function() {

        var Page = (function() {

            var $navArrows = $( '#nav-arrows' ),
                    $nav = $( '#nav-dots > span' ),
                    slitslider = $( '#slider' ).slitslider( {
                        onBeforeChange : function( slide, pos ) {

                            $nav.removeClass( 'nav-dot-current' );
                            $nav.eq( pos ).addClass( 'nav-dot-current' );

                        }
                    } ),

                    init = function() {

                        initEvents();

                    },
                    initEvents = function() {

                        // add navigation events
                        $navArrows.children( ':last' ).on( 'click', function() {

                            slitslider.next();
                            return false;

                        } );

                        $navArrows.children( ':first' ).on( 'click', function() {

                            slitslider.previous();
                            return false;

                        } );

                        $nav.each( function( i ) {

                            $( this ).on( 'click', function( event ) {

                                var $dot = $( this );

                                if( !slitslider.isActive() ) {

                                    $nav.removeClass( 'nav-dot-current' );
                                    $dot.addClass( 'nav-dot-current' );

                                }

                                slitslider.jump( i + 1 );
                                return false;

                            } );

                        } );

                    };

            return { init : init };

        })();

        Page.init();

        /**
         * Notes:
         *
         * example how to add items:
         */

        /*

         var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

         // call the plugin's add method
         ss.add($items);

         */

    });
</script>