---
layout: default
---
<div class="contwarp pb15">
    <div class="content clear">
        <div class="dwenmain fl">
            <div class="texttitle">
                <div class="titletop clear">
                    <h2>css</h2>
                    <div class="search">
                        <input type="text" placeholder="搜索文章" value="">
                        <button></button>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="titlebottom clear">
                    <h3 class="fl">Last.<span>Top Rated.Most Popular</span></h3>
                    <div class="pages1 fr">
                        <a href="http://www.duowen.org.cn/?page=1" class="pageprev">
                            <span class="yy-icon yy-pp"></span>
                        </a>
                        <a href="http://www.duowen.org.cn/?page=1">1</a>
                        <a href="http://www.duowen.org.cn/?page=2" class="pageactive">2</a>
                        <a href="http://www.duowen.org.cn/?page=3">3</a>
                        <span>...</span>
                        <a href="http://www.duowen.org.cn/?page=136">136</a>
                        <a href="http://www.duowen.org.cn/?page=3" class="pagenext">
                            <span class="yy-icon yy-pp yy-rotate"></span>
                        </a>
                    </div>
                </div>
            </div>

            <ul class="textlist">
                <li>
                    <div class="textcont clear">
                        <img width="80" height="80" src="images/textico.gif">
                        <p>
                            <a href="#" class="titletext">{{post.title}}</a>
                                <span>
                                    {{post.content}}
                                    <a href="http://baidu.com">http://baidu.com</a>
                                </span>
                        </p>
                    </div>
                    <div class="textdes clear">
                        <p class="fl">
                            <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <span>阅读：(5465465)</span>
                        </p>
                        <p class="fr">
                            <a href="#">转载</a>|
                            <a href="#">评论</a>|
                            <a href="#">收藏</a>
                        </p>

                    </div>
                </li>
            </ul>
            <div class="pages ml30  mt10 mb10">
                <a href="http://www.duowen.org.cn/?page=1" class="pageprev">
                    <span class="yy-icon yy-pp"></span>
                </a>
                <a href="http://www.duowen.org.cn/?page=1">1</a>
                <a href="http://www.duowen.org.cn/?page=2" class="pageactive">2</a>
                <a href="http://www.duowen.org.cn/?page=3">3</a>
                <a href="http://www.duowen.org.cn/?page=4">4</a>
                <a href="http://www.duowen.org.cn/?page=5">5</a>
                <span>...</span>
                <a href="http://www.duowen.org.cn/?page=136">136</a>
                <a href="http://www.duowen.org.cn/?page=3" class="pagenext">
                    <span class="yy-icon yy-pp yy-rotate"></span>
                </a>
            </div>
            <!--<a href="#" class="top"></a>-->
        </div>
        <div class="rightbar fr">
            <div class="ad264">
                <img alt="" src="images/ad1.gif">
            </div>
            <ul class="lefttextli">
                <li class="leftli-title">精彩知识在多闻</li>
                <li><a href="#">打发打发士大夫似的发的范德萨范德</a></li>
                <li><a href="#">打发打发士大夫似的发的范德萨范德</a></li>
                <li><a href="#">打发打发士大夫似的发的范德萨范德</a></li>
                <li><a href="#">打发打发士大夫似的发的范德萨范德</a></li>
            </ul>
            <div class="links">
                <p>友情链接</p>
                <ul class="clear">
                    <li><a href="#">培公博客</a> </li>
                    <li><a href="#">突唯阿</a></li>
                    <li><a href="#">中国站长之家</a></li>

                    <li><a href="#">方酷</a></li>
                    <li><a href="#">JS代码</a></li>
                    <li><a href="#">网图趣网</a></li>

                    <li><a href="#">红动中国</a></li>
                    <li><a href="#">图翼网</a></li>
                    <li><a href="#">酷站志</a></li>
                    <li><a href="#">V设计</a></li>

                    <li><a href="#">123设计</a></li>
                    <li><a href="#">网森动网</a></li>
                    <li><a href="#">折页网设计</a></li>
                    <li><img alt="" src="images/link1.png"></li>
                    <li><img alt="" src="images/link2.png"></li>
                    <li><img alt="" src="images/link3.png"></li>
                    <li><img alt="" src="images/link4.png"></li>
                    <li><img alt="" src="images/link5.png"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="more">
        <div class="moretitle"><img alt="" src="images/moretitle.png"></div>
        <div class="clear"></div>
    </div>
    <div class="adbanner">
        <img alt="" src="images/adbanner.gif">
    </div>
</div>