<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网页</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/page.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header style="top: 0px; width: 100%; position: fixed;">
        <div class="clear header">
            <h1 class="sublogo"><a href="#"><span>多闻</span></a></h1>
            <nav class="topnav">
                <a href="#"><span>多闻首页</span><span class="naven">Home</span></a>
                <a href="#"><span>网页</span><span class="naven">Webpage</span></a>
                <a href="#"><span>前端技术</span><span class="naven">Technology</span></a>
                <a href="#"><span>关于</span><span class="naven">About</span></a>
                <a href="#"><span>网络收藏</span><span class="naven">Collection</span></a>
                <a href="#"><span>资源下载</span><span class="naven">Download</span></a>
            </nav>
            <a class="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=380979897&site=qq&menu=yes"></a>
        </div>
        <div id="sooptions" style="top: 90px; position: fixed;">
        <!--subnav start-->
        <div class="automw">
            <div id="socontent" class="autocw">
            <div class="sotj soitem soone" id="sofid" data-name="fid">
                <div class="soitemlabel"><span class="soitemlabeltxt">行业</span><span class="yy-icon yy-soi"></span>
                </div>
                <div class="soitemcontent">
                    <ul>
                        <li><a href="http://www.duowen.org.cn/list/" data-value="0" class="active">行业</a></li>
                        <li><a href="http://www.duowen.org.cn/list/?fid=1" data-value="1">网页</a>

                            <div class="soitemcontent">
                                <ul>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=2" data-value="2">企业集团</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=25" data-value="25">专题/Banner</a>
                                    </li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=3" data-value="3">门户电商</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=4" data-value="4">游戏网页</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=5" data-value="5">汽车/车类</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=6" data-value="6">服装服饰</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=7" data-value="7">餐饮美食</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=11" data-value="11">其他网页</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li><a href="http://www.duowen.org.cn/list/?fid=12" data-value="12">GUI</a>

                            <div class="soitemcontent">
                                <ul>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=13" data-value="13">图标Icon</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=14" data-value="14">移动应用</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=17" data-value="17">界面设计</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=16" data-value="16">原型/UE</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=29" data-value="29">UI动效</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=18" data-value="18">其他GUI</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li><a href="http://www.duowen.org.cn/list/?fid=19" data-value="19">平面</a>

                            <div class="soitemcontent">
                                <ul>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=20" data-value="20">VI/CI</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=21" data-value="21">LOGO</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=22" data-value="22">字体设计</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=23" data-value="23">海报设计</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=30" data-value="30">图形设计</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=28" data-value="28">包装</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=24" data-value="24">其他平面</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li><a href="http://www.duowen.org.cn/list/?fid=26" data-value="26">其他</a>

                            <div class="soitemcontent">
                                <ul>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=31" data-value="31">插画</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=32" data-value="32">三维</a></li>
                                    <li><a href="http://www.duowen.org.cn/list/?fid=27" data-value="27">其他</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="socolors" class="soht soitem somore" data-name="socolors[]">
                <div class="soitemlabel"><span class="yy-icon yy-soi3"></span><span class="soitemlabeltxt">颜色</span><span
                        class="yy-icon yy-soi"></span></div>
                <div class="soitemcontent">
                    <ul>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFFFFF"
                               data-value="FFFFFF" style="background:#FFFFFF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=C9F5FF"
                               data-value="C9F5FF" style="background:#C9F5FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=CBDEFF"
                               data-value="CBDEFF" style="background:#CBDEFF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=BFB6FF"
                               data-value="BFB6FF" style="background:#BFB6FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=D7B6FF"
                               data-value="D7B6FF" style="background:#D7B6FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=EFBFDD"
                               data-value="EFBFDD" style="background:#EFBFDD"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFCFC1"
                               data-value="FFCFC1" style="background:#FFCFC1"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFE8C5"
                               data-value="FFE8C5" style="background:#FFE8C5"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFF6D4"
                               data-value="FFF6D4" style="background:#FFF6D4"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=E2EFC3"
                               data-value="E2EFC3" style="background:#E2EFC3"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=DBDBDB"
                               data-value="DBDBDB" style="background:#DBDBDB"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=67E2FF"
                               data-value="67E2FF" style="background:#67E2FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=69A1FF"
                               data-value="69A1FF" style="background:#69A1FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=6A55FF"
                               data-value="6A55FF" style="background:#6A55FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=A155FF"
                               data-value="A155FF" style="background:#A155FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=E16CB3"
                               data-value="E16CB3" style="background:#E16CB3"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FF835F"
                               data-value="FF835F" style="background:#FF835F"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFC265"
                               data-value="FFC265" style="background:#FFC265"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFE371"
                               data-value="FFE371" style="background:#FFE371"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=C0E073"
                               data-value="C0E073" style="background:#C0E073"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=9B9B9B"
                               data-value="9B9B9B" style="background:#9B9B9B"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=0DD1FF"
                               data-value="0DD1FF" style="background:#0DD1FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=0F67FF"
                               data-value="0F67FF" style="background:#0F67FF"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=1E00FB"
                               data-value="1E00FB" style="background:#1E00FB"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=7000FB"
                               data-value="7000FB" style="background:#7000FB"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=DD1690"
                               data-value="DD1690" style="background:#DD1690"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FF3D05"
                               data-value="FF3D05" style="background:#FF3D05"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FF9E0A"
                               data-value="FF9E0A" style="background:#FF9E0A"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=FFD118"
                               data-value="FFD118" style="background:#FFD118"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=A4DC1C"
                               data-value="A4DC1C" style="background:#A4DC1C"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=4D4D4D"
                               data-value="4D4D4D" style="background:#4D4D4D"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=0091B2"
                               data-value="0091B2" style="background:#0091B2"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=0042B4"
                               data-value="0042B4" style="background:#0042B4"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=1300A1"
                               data-value="1300A1" style="background:#1300A1"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=4800A1"
                               data-value="4800A1" style="background:#4800A1"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=9C0060"
                               data-value="9C0060" style="background:#9C0060"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=AC0000"
                               data-value="AC0000" style="background:#AC0000"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=AF6900"
                               data-value="AF6900" style="background:#AF6900"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=BB9600"
                               data-value="BB9600" style="background:#BB9600"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=729F00"
                               data-value="729F00" style="background:#729F00"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=161616"
                               data-value="161616" style="background:#161616"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=00586D"
                               data-value="00586D" style="background:#00586D"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=00296E"
                               data-value="00296E" style="background:#00296E"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=0A005D"
                               data-value="0A005D" style="background:#0A005D"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=2A005D"
                               data-value="2A005D" style="background:#2A005D"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=560035"
                               data-value="560035" style="background:#560035"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=661600"
                               data-value="661600" style="background:#661600"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=693F00"
                               data-value="693F00" style="background:#693F00"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=765E00"
                               data-value="765E00" style="background:#765E00"></a></li>
                        <li><a href="http://www.duowen.org.cn/template/ue-content/templates/?socolors[]=405A00"
                               data-value="405A00" style="background:#405A00"></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="sotj soitem soone" id="soowner" data-name="owner">
                <div class="soitemlabel"><span class="yy-icon yy-yc active"></span><span
                        class="soitemlabeltxt">所有者</span><span class="yy-icon yy-soi"></span></div>
                <div class="soitemcontent">
                    <ul>
                        <li><a href="http://www.duowen.org.cn/list/?owner=1" data-value="1">原创</a></li>
                        <li><a href="http://www.duowen.org.cn/list/?owner=2" data-value="2">转载</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <!--subnav end-->
        </div>
        </div>
    </header>
    <div class="contwarp">
        <div class="content clear">
            <!--item start-->
            <div class="citem">
                <div class="citemtop">
                    <a target="_blank" href="http://www.duowen.org.cn/post/14348/">
                        <img width="280" height="180" src="images/images1.jpg">
                    </a>
                    <div class="citemtxt">
                        <a href="http://www.duowen.org.cn/post/14348/" target="_blank" class="citemtitle">优艺客-体现你的最优价值</a>
                        <div class="citemtc"><span class="yy-icon yy-time">2天前</span></div>
                    </div>
                </div>
                <div class="citemqt">
                    <span class="yy-icon yy-view">2332</span>
                    <span class="yy-icon yy-comment">10</span>

                </div>
                <div class="citemqt citemfoot">
                    <div class="citemzl">
                        <a class="citemfimg" target="_blank" href="http://www.duowen.org.cn">
                            <img width="24" height="24" src="images/smallimg.png">
                            <span class="txtellipsis">uehtml编辑</span>
                        </a>
                        <a style="float:right; margin-top:2px" title="Duowen使用者" target="_blank" href="http://www.duowen.org.cn">
                            <img width="29" height="14" src="images/dwen.png">
                        </a>
                    </div>
                <span class="fcfield">
                    ( <a href="http://www.duowen.org.cn/list?owner=1">原创</a>
                    - <a href="http://www.duowen.org.cn/list/?fid=2">企业集团</a> )</span>
                </div>
            </div>
            <!--item end-->
            <!--item start-->
            <div class="citem">
                <div class="citemtop">
                    <a target="_blank" href="http://www.duowen.org.cn/post/14348/">
                        <img width="280" height="180" src="images/images1.jpg">
                    </a>
                    <div class="citemtxt">
                        <a href="http://www.duowen.org.cn/post/14348/" target="_blank" class="citemtitle">优艺客-体现你的最优价值</a>
                        <div class="citemtc"><span class="yy-icon yy-time">2天前</span></div>
                    </div>
                </div>
                <div class="citemqt">
                    <span class="yy-icon yy-view">2332</span>
                    <span class="yy-icon yy-comment">10</span>

                </div>
                <div class="citemqt citemfoot">
                    <div class="citemzl">
                        <a class="citemfimg" target="_blank" href="http://www.duowen.org.cn">
                            <img width="24" height="24" src="images/smallimg.png">
                            <span class="txtellipsis">uehtml编辑</span>
                        </a>
                        <a style="float:right; margin-top:2px" title="Duowen使用者" target="_blank" href="http://www.duowen.org.cn">
                            <img width="29" height="14" src="images/dwen.png">
                        </a>
                    </div>
                <span class="fcfield">
                    ( <a href="http://www.duowen.org.cn/list?owner=1">原创</a>
                    - <a href="http://www.duowen.org.cn/list/?fid=2">企业集团</a> )</span>
                </div>
            </div>
            <!--item end-->
            <!--item start-->
            <div class="citem">
                <div class="citemtop">
                    <a target="_blank" href="http://www.duowen.org.cn/post/14348/">
                        <img width="280" height="180" src="images/images1.jpg">
                    </a>
                    <div class="citemtxt">
                        <a href="http://www.duowen.org.cn/post/14348/" target="_blank" class="citemtitle">优艺客-体现你的最优价值</a>
                        <div class="citemtc"><span class="yy-icon yy-time">2天前</span></div>
                    </div>
                </div>
                <div class="citemqt">
                    <span class="yy-icon yy-view">2332</span>
                    <span class="yy-icon yy-comment">10</span>

                </div>
                <div class="citemqt citemfoot">
                    <div class="citemzl">
                        <a class="citemfimg" target="_blank" href="http://www.duowen.org.cn">
                            <img width="24" height="24" src="images/smallimg.png">
                            <span class="txtellipsis">uehtml编辑</span>
                        </a>
                        <a style="float:right; margin-top:2px" title="Duowen使用者" target="_blank" href="http://www.duowen.org.cn">
                            <img width="29" height="14" src="images/dwen.png">
                        </a>
                    </div>
                <span class="fcfield">
                    ( <a href="http://www.duowen.org.cn/list?owner=1">原创</a>
                    - <a href="http://www.duowen.org.cn/list/?fid=2">企业集团</a> )</span>
                </div>
            </div>
            <!--item end-->
            <!--item start-->
            <div class="citem" style="margin-right: 0">
                <div class="citemtop">
                    <a target="_blank" href="http://www.duowen.org.cn/post/14348/">
                        <img width="280" height="180" src="images/images1.jpg">
                    </a>
                    <div class="citemtxt">
                        <a href="http://www.duowen.org.cn/post/14348/" target="_blank" class="citemtitle">优艺客-体现你的最优价值</a>
                        <div class="citemtc"><span class="yy-icon yy-time">2天前</span></div>
                    </div>
                </div>
                <div class="citemqt">
                    <span class="yy-icon yy-view">2332</span>
                    <span class="yy-icon yy-comment">10</span>

                </div>
                <div class="citemqt citemfoot">
                    <div class="citemzl">
                        <a class="citemfimg" target="_blank" href="http://www.duowen.org.cn">
                            <img width="24" height="24" src="images/smallimg.png">
                            <span class="txtellipsis">uehtml编辑</span>
                        </a>
                        <a style="float:right; margin-top:2px" title="Duowen使用者" target="_blank" href="http://www.duowen.org.cn">
                            <img width="29" height="14" src="images/dwen.png">
                        </a>
                    </div>
                <span class="fcfield">
                    ( <a href="http://www.duowen.org.cn/list?owner=1">原创</a>
                    - <a href="http://www.duowen.org.cn/list/?fid=2">企业集团</a> )</span>
                </div>
            </div>
            <!--item end-->
        </div>
        <div class="pages">
            <a class="pageprev" href="http://www.uehtml.com/?page=1">
                <span class="yy-icon yy-pp"></span>
            </a>
            <a href="http://www.uehtml.com/?page=1">1</a>
            <a class="pageactive" href="http://www.uehtml.com/?page=2">2</a>
            <a href="http://www.uehtml.com/?page=3">3</a>
            <a href="http://www.uehtml.com/?page=4">4</a>
            <a href="http://www.uehtml.com/?page=5">5</a>
            <span>...</span>
            <a href="http://www.uehtml.com/?page=136">136</a>
            <a class="pagenext" href="http://www.uehtml.com/?page=3">
                <span class="yy-icon yy-pp yy-rotate"></span>
            </a>
        </div>
    </div>

<footer>
    <p><a href="#">网站地图</a>  | <a href="#">帮助中心</a>  | <a href="#">版权说明</a>  | <a href="#">免责须知</a> </p>
    <p>Copyright © 2007-2014 All Rights Reserved 版权所有:REO QQ:380979897 </p>
</footer>
</body>
</html>