---
layout: default
title: 文章列表
---
<link rel="stylesheet" href="{{ "/css/page2.css" | prepend: site.baseurl }}">

<div class="contwarp pb15">
    <div class="content clear">
        <div class="dwenmain fl">
            <div class="texttitle">
                <div class="titletop clear">
                    <h2>{{ page.title }}</h2>
                    <div class="search">
                        <input type="text" value="" placeholder="搜索文章"/>
                        <button></button>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="titlebottom clear">
                    <h3 class="fl">Last.<span>Top Rated.Most Popular</span></h3>
                    <div class="pages1 fr">
                        <a class="pageprev" href="http://www.duowen.org.cn/?page=1">
                            <span class="yy-icon yy-pp"></span>
                        </a>
                        <a href="http://www.duowen.org.cn/?page=1">1</a>
                        <a class="pageactive" href="http://www.duowen.org.cn/?page=2">2</a>
                        <a href="http://www.duowen.org.cn/?page=3">3</a>
                        <span>...</span>
                        <a href="http://www.duowen.org.cn/?page=136">136</a>
                        <a class="pagenext" href="http://www.duowen.org.cn/?page=3">
                            <span class="yy-icon yy-pp yy-rotate"></span>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="textlist">
                {% for post in paginator.posts %}
                {% for post in site.posts %}
                <li>
                    <div class="textcont clear">
                        <img  width="80" height="80" src="{{ base.url }}/asset/images/textico.gif" />
                        <p>
                            <a class="titletext" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                <span>
                                    {{ post.categories }}
                                </span>
                        </p>
                    </div>
                    <div class="textdes clear">
                        <p class="fl">
                            <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <span>阅读：(5465465)</span>
                        </p>
                        <p class="fr">
                            <a href="#">转载</a>|
                            <a href="#">评论</a>|
                            <a href="#">收藏</a>
                        </p>

                    </div>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
            <div class="pages ml30  mt10 mb10">
                <a class="pageprev" href="http://www.duowen.org.cn/?page=1"><span class="yy-icon yy-pp"></span></a>
                <a href="http://www.duowen.org.cn/?page=1">1</a>
                <a class="pageactive" href="http://www.duowen.org.cn/?page=2">2</a>
                <a href="http://www.duowen.org.cn/?page=3">3</a>
                <a href="http://www.duowen.org.cn/?page=4">4</a>
                <a href="http://www.duowen.org.cn/?page=5">5</a>
                <span>...</span>
                <a href="http://www.duowen.org.cn/?page=136">136</a>
                <a class="pagenext" href="http://www.duowen.org.cn/?page=3">
                    <span class="yy-icon yy-pp yy-rotate"></span>
                </a>
            </div>
            <!--<a href="#" class="top"></a>-->
        </div>
        <div class="rightbar fr">
            <div class="ad264">
                <a href="#">
                    <img src="{{ base.url }}/asset/images/ad1.gif" alt=""/>
                </a>
            </div>
            <ul class="lefttextli">
                <li class="leftli-title">精彩知识在多闻</li>
                {% for post in site.posts %}
                <li><a href="#">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="links">
                <p>友情链接</p>
                <ul class="clear">
                    <li><a href="#">培公博客</a> </li>
                    <li><a href="#">突唯阿</a></li>
                    <li><a href="#">中国站长之家</a></li>

                    <li><a href="#">方酷</a></li>
                    <li><a href="#">JS代码</a></li>
                    <li><a href="#">网图趣网</a></li>

                    <li><a href="#">红动中国</a></li>
                    <li><a href="#">图翼网</a></li>
                    <li><a href="#">酷站志</a></li>
                    <li><a href="#">V设计</a></li>

                    <li><a href="#">123设计</a></li>
                    <li><a href="#">网森动网</a></li>
                    <li><a href="#">折页网设计</a></li>
                    <li><a href="#"><img src="{{ base.url }}/asset/images/link1.png" alt=""/></a></li>
                    <li><a href="#"><img src="{{ base.url }}/asset/images/link2.png" alt=""/></a></li>
                    <li><a href="#"><img src="{{ base.url }}/asset/images/link3.png" alt=""/></a></li>
                    <li><a href="#"><img src="{{ base.url }}/asset/images/link4.png" alt=""/></a></li>
                    <li><a href="#"><img src="{{ base.url }}/asset/images/link5.png" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="more">
        <div class="moretitle"><img src="{{ base.url }}/asset/images/moretitle.png" alt=""/></div>
        <div class="clear"></div>
    </div>
    <div class="adbanner">
        <img src="{{ base.url }}/asset/images/adbanner.gif" alt=""/>
    </div>
</div>
