---
layout: default
---
<link rel="stylesheet" href="{{ "/css/page2.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/markdown.css" | prepend: site.baseurl }}">

<div class="contwarp pb15">
    <div class="content clear textcontwarp">

        <div class="texttitle">
            <div class="titletop clear">
                <h2>{{ post.title }}</h2>
                <div class="search">
                    <input type="text" value="" placeholder="搜索文章"/>
                    <button></button>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <article class="textcont bookPage">
            <div class="row">
                <div class="twelve columns">
                    {{ content }}
                </div>

            </div>

        </article>


        <!--<a href="#" class="top"></a>-->


    </div>
    <div class="more">
        <div class="moretitle"><img src="{{ base.url }}/asset/images/moretitle.png" alt=""/></div>
        <div class="clear"></div>
    </div>
    <div class="adbanner">
        <img src="{{ base.url }}/asset/images/adbanner.gif" alt=""/>
    </div>
</div>
