---
layout: default
---
<link rel="stylesheet" href="{{ "/css/page.css" | prepend: site.baseurl }}">
<div class="contwarp webcont">
    <div class="content clear">
        <div class="websubtitle clear">
            <h3 class="fl">{{ page.title }}<span>{{ page.date }}</span></h3>
            <div class="price fr"><span>售价：</span>50元/页</div>
        </div>

        <div class="websubcont">
            <p class="des clear">购买请点击：<a href="www.taobao.com">www.taobao.com</a></p>
            {{content}}
        </div>
    </div>
</div>
